<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.E_goodApp">

        <!-- Configurada como a primeira tela do app -->
        <activity
            android:name=".views.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Tela de Cadastro -->
        <activity
            android:name=".views.RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Tela inicial do usuário -->
        <activity
            android:name=".views.HomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Tela de Comparação -->
        <activity
            android:name=".views.ComparisonActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Tela de Solar -->
        <activity
            android:name=".views.SolarActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Tela de Perfil -->
        <activity
            android:name=".views.ProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Tela de Veículos -->
        <activity
            android:name=".views.VehiclesActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Tela de Detalhes do Veículo -->
        <activity
            android:name=".views.VehicleDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Demais telas do app (exemplo da MainActivity antiga, se ainda for usar) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>

</manifest>